.nav {
    display: flex; 
    justify-content: space-around; 
    padding: 20px 0;                     
}

.recipe-image img {
    width: 400px;       
    height: auto;       
    border: 2px solid #555; 
}